// Place all the styles related to the Horses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    background-image: url('https://umamusume.jp/_nuxt/images/bg_main-7c76a33.jpg');
    font-family: 'Calibri';
}

#new_horse {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

hr.rounded {
  border-top: 8px solid rgb(238, 130, 238);
  border-radius: 5px;
  width:85%
}

#title_list {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#logo {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

// Card

#card_container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 35px;
  margin-bottom: 100px;
  justify-content: space-between;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(238, 130, 238);
  transition: 0.3s;
  width: 150px;
  border-radius: 5px;
  padding: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.style_image {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  padding-bottom: 10px;
}

// button

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(238, 130, 238);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom: 50px;
}

.button:hover {background-color: rgb(238, 130, 141)}

.button:active {
  background-color: rgb(238, 130, 141);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}